<% content_for :title do %>|About<%end%>
<div style="float:left;">
<%=image_tag "company_logo.png", size: "150x128"%><br>
</div>
<div style="clear:both;"></div>
<h1>About RichRly</h1>

<div style="float:left;">
    <%=image_tag "home_picture5.jpg"%>
</div>
<div align="left" style="overflow:auto;font-size:1em; font-size:1.4em;">
  <p>
    RichRly was founded in 2015 in NYC. It was built on the vision to help educating people about financial planning and finding the right financial representatives. Why? We have noticed that general public face the following obstacle in their first financial planning:
  </p>
  <p>
    They have No time, no resources, and no idea.
  </p>
  <p>
    Here we are, with a few clicks of a button this website gives an idea of possible financial strategy and connect them with potential representatives based on their financial need. 
  </p> 
</div>
<div style="clear:both;height:20px;"></div>
<h2>Meet Our Team</h2>
<div style="float:left;">
  <%=image_tag "antonio_jha.jpeg", size:"300x300"%>
</div>
<div style="overflow:auto;padding:25px;text-align:left;font-size:1.4em;">
  <div class="page-header">
    <h2>Antonio Jha <small>Founder/Chief Technology Officer(CTO)</small></h2>
  </div>
  <p>Antonio is the founder of RichRly and main architect who conceptualize and develop the company website. Before started RichRly, Antonio is an independent software developer who has 2+ years of experience with website development in both front-end and back-end. Besides being a software developer, Antonio enjoys site seeing and visiting various restaurant in NYC. Maybe you will see him one day waiting online outside of some delicious food hubs.<p>
</div>

<div style="clear:both; height:20px;"></div>
<div style="float:left;">
  <%=image_tag "mindy_chen.jpeg", size:"300x300"%>
</div>
<div style="overflow:auto;padding:25px;text-align:left;font-size:1.4em;">
  <div class="page-header">
    <h2>Mindy Chen <small>Co-Founder/Chief Executive Officer(CEO)</small></h2>
  </div>
  <p>Mindy is the co-founder of RichRly and main overseer of the company's business and financial development. Prior to joining RichRly, Yuh-Shiuan was a veteran Product Manager at Foxccon, a total supply chain solution provider that offers design, manufacturing, and aftermarket services to its clients. Besides managing a company, Mindy enjoys ...
  </p>
</div>

<div style="clear:both;"></div>
