<% content_for :title do %>|About<%end%>
<h1>About Us</h1>

<div align="left" style="font-size:1.5em;">
Richly opens the door to welcome people getting into the financial 
world. We launch a integrated platform for financial professionals to 
present their expertise so that people can get advice online from 
RichRly. Our platform will connect financial professionals, opportunities 
and wealth to people who are interested in exploring their financial 
world.
</div>