<% content_for :title do %>|About<%end%>
<h1>About Us</h1>

<div align="left" style="font-size:1.5em;">
Richly opens the door to welcome people getting into the financial 
world. We launch a integrated platform for financial professionals to 
present their expertise so that people can get advice online from 
RichRly. Our platform will connect financial professionals, opportunities 
and wealth to people who are interested in exploring their financial 
world.
</div>
RichRly is an online advisor and education engine for personal financial

management. This is the concept that we want to help people to pursue wealth and 

better life. There is a need for those people who do not even know how to start with 

their first financial plan. Users do not know where to start on google, what they 

need, and they don’t know they don’t know. When log in to RichRly, users will be 

navigated to the right fit by asking users several basic questions. This website gives 

them an idea of possible financial strategy based on their current situation. It also 

connects users with brokers without having them to meet up. Depends on users’ 

preference, they can contact the advisor they like based on the profile and 

background information they post on the website. Everything is simple and easy in 

RichRly platform. RichRly opens the door to welcome people getting into the 

financial world. 

As an education engine, users can learn basic financial terms from RichRly’s 

financial vehicles and related articles online. RichRly provides a new 

combination of existing ideas, so users will feel comfortable surfing and 

exploring the financial world through RichRly. Why not just sail for the journey 

right now? Simply begin with the function of Bulletin Board System. Users 

therefore can read and post message and articles by creating their personal 

pages on RichRly. In addition, when RichRly functions as a connection website, 

the platform creates win-win situation for both sides as everyone can profit from our 

online platform. Financial individuals are welcome to post their basic profile and 

product introduction on the platform for end-users’ reference. As an end-user with 

limited financial knowledge, he or she can access to our website and ask for help 

online. At this scenario, both sides of users will be connected, and if they want, they 

can have a further appointment to talk about the details of their own financial plans.

At the first month after we launch the website, we are aiming at having 20 financial 

professionals and 50 users. Over next two years, we will have 100k users to sign up 

our website. Free to sign up, but we will charge to users for premium service we 

offer. We will also charge to ad. These will become two main sources for generating 

revenue.