<% content_for :title do %>|About<%end%>
<h1>About Us</h1>

<div align="left">
WebFinance is a new web application designed to help you to manage your finance.<br> 
It has (will have) the following features:<br>
1. Budget Management- Book keep budgets and alert user to punch in the log.<br>
2. Basic Financial Planning- Depending on the user's profile, the website will help advicing the most suitable plan.<br><br>
<p>These plans include:</p>
<div style="padding-left:3em">
	A. Protection Plans- Insurance plans.<br>
	B. Investment Plans- Investment strategies.<br>
	C. Retirement Plans- Retirement strategies.<br>
	D. Emergency Fund- Emergency fund advices. <br>
</div><br>
2. Price tracking- These functions allows user to saved an item they want to track and alert user when there is a discount. <br>
3. Tips sharing- A built in platform that allows user to share financial strategies with other users.<br>

</div>
<button id="say_it">Say "Hello!"</button>
<div id="hello" title="Hello  World!"><p><font face="Georgia" size="4">
Hey, world, I just said "Hello!"</font></p></div>