<% content_for :title do %>|About<%end%>
<h1>About RichRly</h1><br><br><br>
<div style="text-align:left;">
  <div class="about" style="float:left; width:60%;">
     <p>
      RichRly was founded in 2015 in NYC. As of today, it is a very young startup with a vision to help educating people about financial planning and finding the right financial representatives. Why? We have noticed that general public face the following obstacle in their first financial planning:
    </p>
    <p>
      <b>People have No time, no resources, and no idea.</b>
    </p>
    <p>
      Here we are, with a few clicks of a button this website gives an idea of possible financial strategy and connect them with potential representatives based on their financial need. 
    </p> 
      
  </div>
  <div style="overflow:auto;">
    <%=image_tag "home_picture5.jpg", style: 'width:300px;height:auto;'%>
    <br><i>Image courtesy of pakorn at FreeDigitalPhotos.net</i>
  </div>
  <div style="clear:both;height:20px;"></div>
  <h2>Meet Our Team</h2>
  <div style="float:left;">
    <%=image_tag "antonio_jha.jpeg", size:"250x250"%>
  </div>
  <div class="about" style="overflow:auto;padding-left:25px;vertical-align:top;">
    <h2>Antonio Jha <small>Webmaster</small></h2>

    <p>&nbsp &nbsp &nbsp &nbsp Antonio is the webmaster who developed the company website. Before working at RichRly, Antonio is an independent software developer who has 2+ years of experience with website development in both front-end and back-end. Besides being a software developer, Antonio enjoys site seeing and visiting various restaurant in NYC. Maybe you will see him one day waiting online outside of some delicious food hubs.<p>
  </div>

  <div style="clear:both; height:20px;"></div>
</div>
