<span class="customize-title"><h1>Broker Registration Criteria</h1></span>

<div class="about">

<h3>RichRly will only approve registration from a financial representative if he/she satisfies all of the following criteria:</h4>
<ol>
  <li>Your driver license ID matches with your broker license identification.</li>
  <li>Your license is registered in the state of <span style="text-decoration: underline;">New York</span>.</li>
<li>The license/CRD number you provided is a valid license number. A valid license should be an active license that has not passed its expiration date. RichRly will only display your license information only if your license check is approved.</li>
  <li>You are in good standing with any licensing or certification bodies of which you are a member.</li>
</ol>
<h3>For your profile to be visible to Members, you must have completed the following:</h4>
<ol>
  <li>Your registration was approved.</li>
  <li>You must submit at least one financial story detailing how you have helped your client in the past and this financial story will be displayed on your profile. Other Members will also be able to view your financial stories freely.</li>
</ol>
</div>
