<h1>Broker Registration Criteria</h1>
<div class="legal">
<h4>RichRly will only approve registration from a financial representative if he/she satisfies all of the following criteria:</h4>
<ol>
  <li>You are a financial services professional who provides personal financial services to individual clients on a fee-paying basis. You represent and warrant that you are in good standing with any licensing or certification bodies of which you are a member, and that you are legally permitted to provide your particular financial services to clients in your jurisdiction, and in each jurisdiction in which your clients are located.</li>
  <li>Your license is registered in the state of New York and only the license registered in state of New York will be displayed on your profile.</li>
<li>The license number you provided is a valid license which belongs to you. A valid license should be an active license that has not passed its expiration date. RichRly will only display your license information only if your license check is approved.</li>
</ol>
<h4>For your profile to be visible to Members, you must have completed the following:</h4>
<ol>
  <li>Your registration was approved.</li>
  <li>You must submit at least one financial story detailing how you have helped your client in the past and this financial story will be displayed on your profile. Other Members will also be able to view your financial stories freely.</li>
</ol>
</div>
