<% content_for :title do%>|Faq <%end%>
<h2>FAQ</h2>
<div align="left" style="font-size:1.5em;">

  <h4>1. Do I need to open an account with RichRly?</h4>
  <p>A: To use RichRly’s service online, you would need to sign up, and it is  
also connected with facebook or LinkedIn. We won’t access to any of your personal information. RichRly does not manage your money. RichRly does not provide you with bank account service. RichRly provides a platform for users to interact only.</p>
  <h4>2. Do I need to pay commission to RichRly when we close a deal with clients?</h4>
  <p>A: No. </p>
  <h4>3. How can I know the advisor well?</h4>
  <p>A: We do background check for each professional, and you could also refer to their recommendations online.</p>
  <h4>4. I do not live in NY, can I sign up?</h4>
  <p>A: Yes, please do. We will soon expand our service the whole states and the globe.
  <h4>5. Can I post what I am interested in on RichRly?</h4>
  <p>A: Yes, please do. </p>
  <h4>6.  Can I do ranking review?</h4>
  <p>A: No, but you can write a recommendation for your advisor.</p>
</div>
