<span class="customize-title"><h1>Why RichRly?</h1></span>
<div class="about">
  <div style="width:50%;float:left;padding:10px;">
    <h3><b>For Non-Finance Professional Member</b></h3>
    <br><br>
    <p>RichRly offers a platform for non-financial professional to learn about various financial planning strategies through the following ways:</p>
    <ol>
      <li>Learn various financial vehicles and its uses through personal financial stories posted by financial advisors. Personal financial stories detail how a financial advisor helps his/her customer with a particular financial vehicle.</li>
      <li>Learn general financial planning strategy through the blog RichRly provides. Each week, RichRly researches about a specific financial planning topic and post an article to explain various strategies related to the topic.</li>
      <li>Organize your financial planning strategies under your personal financial goals. You can create any financial goal and save the posted financial stories under any particular goal.</li>
      <li>Through profile and posted financial stories, conduct background check on financial advisors to see if any person is fit to be your personal advisor.</li>
      <li>Interact with various financial advisors without direct contact or any commitment.</li>
    </ol>

  </div>
  <div style="width:50%;overflow:auto;padding:10px;"> 
    <h3><b>For Financial Advisor</b></h3>
    <br><br>
    <p>RichRly offers financial advisors a platform to promote their business through the following ways:</p>
    <ol>
      <li>Advertisement- RichRly offers financial advisors an easy way to advertise for themselves and build credibility with their potential clients. Members can view financial advisors’ profile and learn about their background and experience.</li>
      <li>Showcase your success story- when you post a financial article on RichRly, members can vote up your story if they find it to be helpful. Financial article with the most vote ups will be ranked first. If many people find your article to be helpful, they may contact you and become your client. </li>
      <li>You can use RichRly to conduct market research. You can gather information about member’s financial interest and other profile information to better understand need of your potential clients.</li>
    </ol>
  </div>
</div>