<div class="panel panel-primary box">
  <div class="panel-heading">
    Budget
  </div>
  <div class="panel-body">
    <%=render "profiles/setup"%>
  </div>

</div>
<div class="panel panel-primary box">
   <div class="panel-heading" id="panel-heading2">
    Accounts
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
<div class="panel panel-primary box">
  <div class="panel-heading" id="panel-heading2">
    Calendar/Alarm
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
<div class="panel panel-primary box">
   <div class="panel-heading" >
    Social Media
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
<div class="panel panel-primary box">
  <div class="panel-heading">
    Financial Planning
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
<div class="panel panel-primary box">
   <div class="panel-heading" id="panel-heading2">
    Shopping
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>