<div class="navbar-inner" style="margin-left:25%;">
	<div class="container">	
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Financial Reps</a></li>
      <li role="presentation"><a href="#">Users</a></li>
      <li role="presentation"><a href="#">News</a></li>
    </ul>
  </div>
</div>