<%require 'date'%>
<script type="text/javascript" src="pagination.js"></script>

<%provide :title, '|All Spendings' %>
<div style="min-height:350px; border-right:solid 1px;">
  <h1>All Transactions</h1>
  <%=render 'search_form'%>
  <div id="spendings" >
    <%=render 'spendings'%>
  </div>
</div>


