<%provide :title, 'Email Confirmation'%>
<br>
<div style="width:50%">
<div class="alert alert-success">
  <h1>Email Confirmation </h1>
<b>Well done! You got one more thing to do to set up your account.</b><br><br>
A message has been sent to the email address you've provided: <%=@user.email%><br>
Please follow the direction provided in the email to enable your email in this account. <br>
</div>
</div>