<div class="alert alert-danger" role="alert">
  <p>Oops. There seems to be a problem authenticating your record. Please go back to the sign in page and try again.</p>
  <%=link_to "Back to Sign In", user_login_path%>
</div>