<div align="left" style="width:80%;">
  <h3>Enter Your Username or Email</h3>
  <%= form_for :session, url:user_password_lookup_path(id:1), method: :get do |f|%>
    <table width="30%">
      <tr>
        <td><%= f.text_field :name_or_email, {:class=>'form-control'}%></td>
      </tr>
      <tr class="blank_row"></tr>
      <tr>
        <td><%= f.submit "Submit", class:"btn btn-default"%></td>
        <td></td>
      </tr>
    </table>
  <%end%>
</div>