<h3>Enter Your Username</h3>
<%= form_for :session, url:user_signin_path do |f|%>
  <table width="30%">
    <tr>
      <td><%= f.text_field :username, {:class=>'form-control'}%></td>
    </tr>
    <tr class="blank_row"></tr>
    <tr>
      <td><%= f.submit "Submit"%></td>
      <td></td>
    </tr>
  </table>
  <%end%>