<h3>Create a new association between product and financial category</h3>
<%=render "error"%>
Product:<%=@product.name%><br>
Associated Category: <br>
<% unless @categories.length >0%>
None
<%else%>
<div align="left" style="width:30%;">
  <ol>
    <%@categories.each do |c|%>
    <%temp=Order::FINANCIAL_CATEGORIES[c.vehicle_type-1]%>
    <li><%=link_to temp[0],{vehicle_type:temp[1].to_s}%></li>
    <%end%>
  </ol>
</div>
<%end%>
<%=render "form"%>