<h3>Create a new association between product and financial category</h3>
Product:<%=@product.name%><br>
Associated Category: <br>
<ol>
  <%categories.each do |c|%>
  <li><%=Order::FINANCIAL_CATEGORIES[c.vehicle_type-1][0]%></li>
  <%end%>
</ol>
<%=render "form"%>