<%content_for :title do%>|Password Reset 1<%end%>
<div align="left" style="width:80%;">
  <h3>Enter your username or email</h3>
  <%= form_for :session, url:broker_password_lookup_search_path, method: :get do |f|%>
    <table width="30%">
      <tr>
        <td><%= f.text_field :name_or_email, {:class=>'form-control'}%></td>
      </tr>
      <tr class="blank_row"></tr>
      <tr>
        <td><%= f.submit "Search", class:"btn btn-default"%></td>
        <td></td>
      </tr>
    </table>
  <%end%>
</div>