<div class="form_instruction alert alert-info" align="left">
  <p>Fixed Expense is expenses that you have to spend such as mortgage, rent, insurance, utilities, grocery ...etc.</p>
  <p>Notes:</p>
  <ul>
    <li>Fixed expense amount should be per month.</li>
    <li>Transaction date should be in this current month.</li>
  </ul>
</div>