<div align="left">
<p><%=current_user.first_name%>, please answer the following questions so we can assess your current financial need.</p>
<p> After entering your information in these 7 steps wizard, we will use the information you provided to determine your networth, financial need, and recommended financial goal.
</div>
<div class="form_instruction alert alert-info" align="left">
  Notes:
  <ul>
    <li>Dependents are your children or anybody who is in your liability.</li>
  </ul>
</div>