<div class="form_instruction alert alert-info" align="left">
  <p>Optional Expense is expenses that you don't have to spend such as entertainment, eating out, vacation ...etc.</p>
  <p>Notes:</p>
  <ul>
    <li>Optional expense amount should be per month.</li>
    <li>Transaction date should be in this current month.</li>
  </ul>
</div>