<h1>Monthly Plan Info</h1>
<div style="text-align:left;">
  <p>Thank you for starting your financial planning and submitting this month's plan.</p>
  <p>Please note the following information:</p>
<ol>

  <li>When each month is over the current month's plan will be copied to be the next month's plan. If you delete your current month plan the automatical renewal will stop.</li>
  <li>If you would like to change/update your plan, simply go to "Edit this month's plan" in the drop down menu. </li>
  <li> You can delete or update any previous plan. <li>
</ol>
  <p> Now you're ready to set your financial goal.
</div>