<% provide :title, '|financial planning page 1'%>
<script type="text/javascript" src="remove_association.js"></script>
<h1>Financial Planning</h1>
<p><%=current_user.first_name%>, please answer the following questions so we can assess your current financial need.</p>
<div id="background_form">
<%=render 'form'%>
</div>