<h1>BrokerNotifier#confirm</h1>

<p>
  <%= @greeting %>, 
</p>
<p>
  Thanks for registering. Please give us a couple of days to process through the forms. You will be notified through your email or you can access this page to check your status.
</p>
<p> Your confirmation number is <%=@broker.confirmation_number%></p>
<p> You can use this <%=link_to "site", new_status_session_url%> to look up your status. </p>

