<p><%= @greeting%></p>

Please use the temporary password below to login. <br>
<%= (@password)%><br>
Once logged in, you can change your password in your account setting.

<p>Sincerely,</p>
<br>
Richrly Team