<%= @greeting%>

We would like to welcome you to Richrly. 
Please copy and paste the validation code below in your profile:
<p>
<%= (@user.email_confirmation_token)%>
</p>
<p>Thank you for signing up at Richrly.</p> 
<br>
<p>Sincerely,</p>
<br>
Richrly Team<br><br>
<%=@warning%>
