<p><%= @greeting%></p>

Please clicked this <%=link_to "link", broker_enter_new_password_url(@member.password_confirmation_token)%> to reset your password. <br>

Once logged in, you can change your password in your account setting.

<p>Sincerely,</p>
<br>
Richrly Team