<%= @greeting%>

Please copy and paste the below validation code to verify your email:
<p>
  <%= (@member.email_confirmation_token)%>
</p>
<p>Thank you for signing up at Richrly.</p> 
<br>
<p>Sincerely,</p>
<br>
Richrly Team<br><br>
<%=@warning%>
