<div class="navbar-inner">
	<div class="container-fluid pull-right" >		
    <ul class="nav navbar-nav">
      <li><%= link_to 'Update Setting', edit_user_path(current_user)%></li>
      <li><%= link_to 'Remove Profile', user_remove_path(current_user)%></li>
    </ul>
  </div>
</div>