  <table style=" text-align:left;width:100%;">
    <tr>
      <td>
        <%=smart_image(@user,2)%>
        <%if @user.image_cropped==false%>
        <p><i>Processing Image...</i></p>
        <%end%>
      </td>
    </tr>
    <tr>
      <td>
        <% if ((@crop !="true") && !@user.image_url.to_s.empty?) %>
        <button type="button" class="btn btn-default btn-change" style="width:150px;">
          Change Photo
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
        <%else%>
        <button type="button" class="btn btn-default btn-upload" style="width:150px;">
          Upload Photo
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>     

        <%end%>
      </td>
    </tr>
  </table>

<%if !@user.image_url.to_s.empty?%>
  <%=render "users/change_dialog_form"%>
<%else%> 
  <%=render "users/upload_dialog_form"%>
<%end%>

