<p><span style="font-size:1.3em;"><b>Occupation:</b> <%=@user.occupation%></span></p>
<p><span style="font-size:1.3em;"><b>State of Resident:</b> <%=Order::US_STATES.to_h.key(@user.state)%></span></p>
<p><span style="font-size:1.3em;"><b>Age Range:</b> <%=smart_label(@user.age_level)%></span></p>
<%unless @user.goal.nil?%>
  <h3>Financial Goal(s):</h3> 
  <%@user.goal.each do |g|%>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%=smart_label(g)%>
      </h4>
    </div>
    <div class="panel-body">
      Saved Brokers:
      Saved Stories:
      Saved Articles:
    </div>
  </div>
  <%end%>
<%end%> 