<% content_for :title do %>|User Profile<%end%>
<div align="left" style="width:100%; display:block">  
  
  <h1><%=full_name(@user)%></h1> 
</div>
<div align="left" style="float:left; width:40%;">  
  <table style=" text-align:left;width:100%">
    <tr>
      <td>
        <%=smart_image(@user,2)%>
      </td>
    </tr>
  </table>
</div>
<div align="left" style="overflow: auto;">

  <%=render "profile_info"%>

</div>
