<%= will_paginate @users%><br>
<% @users.each_with_index do |user,index|%>
  <div style="display: inline-block;width:30%;padding-bottom:5px;">
    <%=link_to full_name(user), user%><br>
    <%= smart_image(user)%>
    <% if user_logged_in?%>
      <% if current_user.admin? && !current_user?(user)%>
      <br><%=link_to 'delete', admin_remove_path(user)%>
      <%end%>
    <%end%>
  </div>
<%end%>
