<% provide(:title,'|All Users')%>
<h1>All Users</h1>
<table class='index-table'>
  <% @users.each do |user|%>
  <tr>
    <td width='15%'><%=gravatar_for(user, :size=>50)%></td>
    <td width='85%'><a href=<%=user_path(user)%>><%=user.first_name%> <%=user.last_name%></a></td>  
  </tr>
  <%end%>
</table> 