<% provide(:title,'|All Users')%>
<h1>All Users</h1>
<table with='100%' align="left">
  <% @users.each do |user|%>
  <tr>
    <td><%=gravatar_for(user, :size=>50)%></td>
    <td><a href=<%=user_path(user)%>><%=user.username%></a></td>  
  </tr>
  <%end%>
</table> 