<%provide(:title,"|Remove User")%>
<%= render 'menu_top'%>
<div style="clear:both;border-top:2px solid;"></div>
<h1>Remove User</h1>
<div align="left" style="text-indent: 15%;">
<p>Please entered your login information in order to delete your profile:</p>
</div>
<%= render 'remove_form'%>