<% content_for :title do %>|User Profile<%end%>
<div align="left">
  <h3><%=full_name(@user)%></h3>

  <hr class="divider"> 
  <%=smart_image(@user,2)%>
  <%if @user.goal%>
  <h4>Looking For:</h4>
  <ul>  
    <%@user.goal.each do |g|%>
    <li><%=smart_label(g)%></li>
    <%end%>
  </ul>
  <%end%>
</div>