<% content_for :title do %>|User Profile<%end%>
<div align="left">
  <h3><%=full_name(@user)%></h3>

  <hr class="divider"> 
  <%=smart_image(@user,2)%>
  <h4>Looking For:</h4>
  <% if @plan%>
  <ol>
    <% unless @plan.has_protection_plan%>
    <li>Protection Plan</li>
    <%end%>
    <% unless @plan.has_emergency_plan%>
    <li>Emergency Plan</li>
    <%end%>
    <% unless @plan.has_education_plan%>
    <li>Education Plan</li>
    <%end%>
    <% unless @plan.has_retirement_plan%>
    <li>Saving Plan</li>
    <%end%>
  </ol>
  <%end%>
</div>