<% if object && object.errors.any? %>
  <div class="alert alert-danger error-message" style="width:100%;">
    <% if object.errors.count >1%>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <%else%>
    <%=object.errors.full_messages.first%>
      <%if object.addition_error_msg%>
        <%=object.addition_error_msg%>
      <%end%>
    <%end%>
  </div>
<% end %>