<div class="panel panel-default">
  <div class="panel-body" align="left">
    <h4>License(s)
      <%if mode=="personal"%>
      <a href="#" class="licenses_edit">
      <span class="glyphicon glyphicon-edit"></span>
      </a>
      <%end%>
    </h4>
    <%@broker.licenses.each_with_index do |l,index|%>
      <%if index==0%>
      <%=l.license_type%>
      <%else%>
      ,<%=l.license_type%>
      <%end%>
    <%end%>
  </div>
</div>
