<div style="padding-top:20px;">
  <% links={"New Message"=>new_private_message_path, "Inbox"=>private_messages_path, "Sent"=>private_message_sent_path}%>
  <ul class="list-group">
    <% for item in @menus%>
      <% if item==@item%>
        <%=link_to item, links[item], class:"list-group-item active"%>
      <%else%>
        <%=link_to item, links[item], class:"list-group-item"%>
      <%end%>
    <%end%>
  </ul>
</div>