<%provide :title, "|Register Page 4-Summary"%>
<h3>Please make sure your information is correct before submitting your application.</h3>
<%=render "summary"%>
<%= form_for @broker,:url => url_for(:controller => 'register/brokers',:action=> 'update') do |f|%>
  <table width="70%">
    <tr class="blank_row"></tr>
    <tr>
      <td width="30%"><%=f.submit "Prev", name:"prev", :class=>"btn btn-primary"%></td>
      <td width="70%"><%=f.submit "Submit",name:"submit",:class=>"btn btn-primary"%></td>
    </tr>
  </table>
<%end%>