<% if @error%>
  <div class="alert alert-danger error-message">
    <%=@error%>  
  </div>
<%end%>
<table style="text-align:left; width:70%;"> 
  <tr>
    <th width="40%">Firm Name</th>
    <th width="50%">Product Name</th>
  </tr>
  <%@broker.products.each do |product|%>
  <tr>
    <td>
      <%=product.firm.name%>:
    </td>
    <td>
      <%=product.name%>
    </td>
    <td width="10%">
      <%=link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, {controller:"register/brokers",action:"remove_appointment",product_id:product.id,broker_id:@broker.id},:remote => true %>
    </td>
  </tr>
  <%end%>
</table>

