<h1>Remove Account</h1>
<div style="text-align:left;width:80%;">
  <p>To remove your account, please enter your password below.</p>
  <%= form_for @broker,:html => { :method => :delete }  do |f|%>	
    <table width="100%">
      <tr class="blank_row"></tr>
      <tr>
        <td><%= f.label :password, 'Password:'%></td>
        <td><%= f.password_field :password, {:class=>'form-control'}%></td>
        <td></td>
      </tr>
      <tr class="blank_row"></tr>
      <tr>
        <td><%= f.submit "Delete Profile", :class=>'btn btn-danger'%></td>
      </tr>
    </table>
  <% end %>
</div>