
<% links=[['Update Profile',edit_broker_path(id:@broker.id)],['My License',edit_broker_path(id:@broker.id,page:"license_edit")],['My Financial Vehicle',edit_broker_path(id:@broker.id,page:"financial_vehicle_edit")],['Remove Profile',edit_broker_path(id:@broker.id,page:"form_remove")]]%>
<% pages=["form_edit", "license_edit","financial_vehicle_edit","form_remove"]%>
<ul class="nav nav-tabs">
  <%for i in 0..(links.size)-1%>
    <% if @page == pages[i]%>
      <li role="presentation" class="active"><%= link_to links[i][0], links[i][1]%></li>
    <%else%>
      <li role="presentation"><%= link_to links[i][0], links[i][1]%></li>
    <%end%>
  <%end%>
</ul>
