<h1>Financial Vehicle in Tax Saving Category</h1>
<p><%=link_to "Back to index", admin_products_path%></p>
<b>Primary Products:</b>
<%=render "products"%>
<b>Secondary Products:</b>
<%=render "secondary_products"%>