<table width="100%">
  <tr>
      <td width="95%"><h4>Disability Insurance:</h4></td>
      <td></td>
  </tr>
  <tr>
    <td>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Disability Insurance  
          <a class="drop-down" style="float:right;" data-toggle="collapse" data-parent="#life_insurance" href="#panel5"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
        </div>
        <div class="panel-collapse collapse" id="panel5">
          Body
        </div>
      </div>
    </td>
    <td class="check_box_container">
      <%=check_box_tag "background[protection_type[]]",1,false,class:"check_box"%>
    </td>
  </tr>
</table>