<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#life_insurance" aria-controls="home" role="tab" data-toggle="tab">Life Insurance</a></li>
    <li role="presentation"><a href="#disability_insurance" aria-controls="profile" role="tab" data-toggle="tab">Disability Insurance</a></li>
    <li role="presentation"><a href="#health_inurance" aria-controls="messages" role="tab" data-toggle="tab">Health Insurance</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="life_insurance">
      <%=render "life_insurance"%>
    </div>
    <div role="tabpanel" class="tab-pane" id="disability_insurance">
      <%=render "disability_insurance"%>
    </div>
    <div role="tabpanel" class="tab-pane" id="health_insurance">
      <%=render "health_insurance"%>
    </div>
  </div>

</div>
