 <div style="font-size:0.5em;">
   Votes:<%=@story.votes%> &nbsp&nbsp
   Posted at <%=@story.created_at.strftime("%b,%y at %l:%M %P")%>
   <div style="float:right;">

     <% vote= @author.votes.where(financial_story_id:@story.id).first%>

     <% if vote%>
       <%=link_to financial_story_path(id:@story.id,cancel_upvote:true,user_id:current_user,broker_id:current_broker),method: :patch,remote:true do%>
       Cancel Upvote
       <%end%>
     <%else%>
       <%=link_to financial_story_path(id:@story.id,upvote:true,user_id:current_user,broker_id:current_broker),method: :patch,remote:true do%>
       Upvote
       <%end%>
     <%end%>

   </div>
</div>