
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_tree .
 *= require profiles
 *= require users
 *= require brokers
 *= require sessions
 *= require setups
 *= require setup_brokers
 *= require jquery.Jcrop
 *= require jquery-ui
 *= require_self
  */
@import "bootstrap-sprockets"; // check https://github.com/twbs/bootstrap-sass#a-ruby-on-rails for more info
@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-glyphicons.css");
html, body {

    overflow-x: hidden;
    text-align: center;
}
.odd_line{
  background-color:#9999FF;
}
.comments_table{
  tr{
    td,th{
      border:1px solid;
      text-align: center;
    }
    
  }
}
.home{
  text-align: center;
}
.body1{
  overflow:auto;
  padding-bottom: 100px;
}
.notice{
  color: green;
}
.paginate{
  padding: 0px !important;
  border: solid 1px;
  height: 50px;
}
.error-message{
  width:70%;
}
.error-message ul{
  text-align:left;
}
.asterisk{
  font-weight: bold;
  color: red;
}
.blank_row
{
  height: 20px;
}
.navbar-custom
{
  background-color:#298A08;
  color:white !important; 

}
.navbar-custom2
{
  background-color:#000;
  color:lighten(#000, 93.5%);
  border-radius:0;  
  
}
// bootstrap color taken from http://getbootstrap.com/customize/