
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_tree .
 *= require users
 *= require brokers
 *= require sessions
 *= require setups
 *= require setup_brokers
 *= require jquery.Jcrop
 *= require jquery-ui
 *= require_self
  */
@import "bootstrap-sprockets"; // check https://github.com/twbs/bootstrap-sass#a-ruby-on-rails for more info
@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-glyphicons.css");
html, body {

    overflow-x: hidden;
    text-align: center;
}
.legal {
  text-align:left;
  p,li{
    font-size: 1.1em;
  }
}
.about {
  text-align:left;
  h1,h2,h3,h4{
    font-family: "Times New Roman", Times, serif;
  }
  p,li{
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
    line-height: 120%
  }  
  li{
     padding-top:10px;
  
  }
}
.static-page {
  text-align:left;
  p,li{
    font-size: 1.5em;
    line-height: 120%
  }  
  li{
    padding:5px;
  }
}
.financial_story_7 {
  text-align:left;
  p,li{
    font-size: 1.1em;
    line-height: 120%
  }  
}
.customize-title{
  h1,h2,h3,h4{
    font-family: "Times New Roman", Times, serif;
  }  
}
a:hover{
  background-color: transparent;
}
.company_logo{
  font: 3em sans-serif;
  font-weight: bold;
  background-color:white;
  padding-left:5px;
  padding-right:5px;
  border-radius: 10px;
  a, a:visited, a:hover {
    text-decoration: none;
  }
}
footer {
  a, a:visited, a:hover {
    color:white;
    text-decoration: none;
  }
  h4{
    color:white;
  }
}
.home_background{
  height:275px;
  background-image: url("banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}
.odd_line{
  background-color:#9999FF;
}

.comments_table{
  tr{
    td,th{
      border:1px solid;
      text-align: center;
    }
    
  }
}
.home{
  text-align: center;
}
.body1{
  overflow:auto;
  padding-bottom: 100px;
}
.notice{
  color: green;
}
.paginate{
  padding: 0px !important;
  border: solid 1px;
  height: 50px;
}
.error-message{
  width:70%;
}
.error-message ul{
  text-align:left;
}
.asterisk{
  font-weight: bold;
  color: red;
}
.blank_row
{
  height: 20px;
}
.blank_row_small
{
  height: 10px;
}
.navbar-custom
{
  background-color:#298A08;
  color:white !important; 

}
.navbar-custom2
{
  background-color:#000;
  color:lighten(#000, 93.5%);
  border-radius:0;  
  
}
.panel-heading
{
   padding: 0 !important;
   padding-left: 5px !important;
   margin: 0 !important;
}
.dropdown-menu-notification {
    width: 300px !important;
 
}
.dropdown-menu-message {
    width: 300px !important;
 
}
// bootstrap color taken from http://getbootstrap.com/customize/