// Place all the styles related to the Brokers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_info{
 td{
  font-size:1em; 
 }
}

li
  {
    line-height: 1.2em;
  }  
li.reset
  {
    margin-top: -6em;
  }
.cancel a:link
{
  color:red;
}
.cancel a:hover, .cancel a:visited 
{
  color: DarkRed;
}