.account_table td{
  padding: 0px 10px;
  
}
.odd_line{
  background-color:#9999FF;
}
#bank_login_button{
  position: relative;
  left: 10%;
  
}
#error{
  color: red;
  font-weight: bold;
  padding: 10px 0px;
}
.acct_buttons_container{
  width:50%;
  padding: 10px;
  margin: 0 auto;
}
.acct_button{
  width: 100%;
}