.account_table td{
  padding: 0px 10px;
  
}
.odd_line{
  background-color:#9999FF;
}
.button{
  position: relative;
  left: 10%;
  
}
#error{
  color: red;
  font-weight: bold;
  padding: 10px 0px;
}