// Place all the styles related to the Setups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.interest_check_box{
  position: relative;
  margin-bottom: -63px;
  text-align: right;
  opacity: 0.7;
  input[type='checkbox'] {
   width: 50px;
   height: 50px;
  }
}