// Place all the styles related to the Spendings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group{
  width: 50%;
}

// used in spending/show page
.spending_display{
  width:40%;
}

.spending_display td{
  padding:5px;
}
// used in spending/index page
.spendings_display{
  width:80%;
  text-align:center;
}
.spendings_display td{
  padding:0px;
}
.spendings_display a{
  color: black;
  &:visited {
    color: black;
  }
  &:hover {
    color: blue;
    font-weight: bold;
  }
}