// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.divider{
  border-width: 3px;
  width: 100%;
  border-color: limegreen;
}

.gravatar_edit
{
  width: 90px;
//  text-align:left;
  border: solid 1px;
}
.index-table
{
  width:70%;
  text-align:left;
  
}
.index-table tr td{
  padding: 5px;
}
.crop_user_picture{
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
  position: relative;
  left: 10px;  
}
