// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.divider{
  border-width: 3px;
  width: 100%;
  border-color: limegreen;
}
.blank_row
{
  height: 20px;
}
.gravatar_edit
{
  width: 50%;
  text-align:left;
}
.index-table
{
  width:70%;
  text-align:left;
  
}
.index-table tr td{
  padding: 5px;
}