// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.divider{
  border-width: 3px;
  width: 100%;
  border-color: limegreen;
}

.index-table
{
  width:70%;
  text-align:left;
  
}
.index-table tr td{
  padding: 5px;
}
.crop_user_picture{
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
  position: relative;
  left: 10px;  
}
.story_display{

  background-color:lighten(#000,82%);
  border-radius: 10px;
  vertical-align: text-top;
  padding:5px;

}
.home_display{
  a:hover{
      text-decoration: none;
  }
}
.financial_story_show{
  background-color:lighten(#000,82%);
  padding:5px;
  width:100%;
}

.financial_story, .financial_story_comment{

  background-color:lighten(#000,93%);
  vertical-align:text-top;
  padding: 5px;
  magin: 3px;
}
.vehicle-heading{
  a:hover{
      color: white;
      text-decoration: none;
  }
  a{
    color: white;
  }
  a:visited{
    color:white;
  }
}  
