<h3>Enter Advice Category</h3>
<%=form_for @category do |f|%>
<table width="70%">

  <tr>
    <td><%=f.label :description%></td>
  </tr>
  <tr>
    <td><%=f.text_field :description, {:class=>'form-control'}%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td><%=f.submit%></td>
  </tr>
</table>
<%end%>