
<%= will_paginate @brokers%><br>
<% @brokers.each_with_index do |broker,index|%>
<div style="display: inline-block; width:30%;padding-bottom:5px;">
  <%=link_to full_name(broker), broker%><br>
  <%= smart_image(broker)%>
</div>
<%end%> 
