<div class="panel panel-default">
  <div class="panel-body" align="left">
    <h4>Education</h4>
    <div id="education_add" style="padding:5px;">
      <%=render "brokers/education_add"%>   
    </div>
    <%unless @broker.educations.count >0%>
    None.
    <%else%>
      <% @broker.educations.order(end_date: :desc).each do |e|%>
        <% unless e.new_record?%>
        <%=render partial:"brokers/education_edit", locals:{e:e}%>
        <%end%>
      <%end%>
    <%end%>
  </div>
</div>  