<% if @broker.errors.any? %>
  <div class="alert alert-danger error-message">
    <ul>
      <% @broker.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>