<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=product.name%></h3>
  </div>
  
  <%if @broker.financial_products.where(product_id:product.id).count>0%>  
  <div class="panel-body">
    <%@broker.financial_products.where(product_id:product.id).includes(:company).order("companies.name DESC").each do |financial_product|%> 

    <span class="label label-primary">
      <%="#{financial_product.company.name} #{financial_product.name}"%>
    </span>

  </div>
  <%end%>
  
</div>        