<%if @broker.financial_products.where(product_id:product.id).count>0%>  
  <%@broker.financial_products.where(product_id:product.id).includes(:company).order("companies.name DESC").each do |financial_product|%> 

    <span class="label label-primary">
      <%="#{financial_product.company.name} #{financial_product.name}"%>
    </span>
    <%=link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, {controller:"financial_products",action:"destroy",id:financial_product.id,broker_id:@broker.id},method: :delete,:remote => true, id:"remove_product_#{financial_product.id}" %>

  <%end%>
<%else%>
None.
<%end%>