<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=product.name%></h3>
  </div>
  
  <%if @broker.financial_products.where(product_id:product.id).count>0%>  
  <div class="panel-body">
    <table width="100%" style="border-collapse: collapse;">
      <tr>
        <th>Company</th>
        <th>Product Name</th>
      </tr>
      <%@broker.financial_products.where(product_id:product.id).includes(:company).order("companies.name DESC").each do |financial_product|%> 
        <tr style="border:1px ridge;">
          <td width="45%"><%=financial_product.company.name%></td>
          <td width="55%"><%=financial_product.name%></td>
        </tr> 
      <%end%>
    </table>
  </div>
  <%end%> 
</div>        