<div class="navbar-inner">
	<div class="container-fluid pull-left" >		
    <ul class="nav navbar-nav">
      <li><%= link_to 'Update Profile', edit_broker_path(current_broker)%></li>
      <li>
        <%= link_to 'My License',broker_licenses_path(current_broker)%>
      </li>
      <li>
        <%= link_to 'My Product',broker_products_path(current_broker)%>
      </li>
      <li><%= link_to 'Remove Profile', broker_remove_path(current_broker)%></li>
    </ul>
  </div>
</div>