<div class="navbar-inner">
	<div class="container-fluid pull-left" >		
    <ul class="nav navbar-nav">
      <li><%= link_to 'Update Profile', edit_broker_path(current_broker)%></li>
      <li><%= link_to 'Update License/Product Information',edit2_broker_path(current_broker)%>
      <li><%= link_to 'Remove Profile', '#'%></li>
    </ul>
  </div>
</div>