  <table style=" text-align:left;width:100%;">
    <tr>
      <td>
        <%if @crop==true%>
          <%= image_tag @broker.image_url.to_s,size:"150x150", class: "img-thumbnail"%>
        <%else%>
          <%=smart_image(@broker,2)%>
        <%end%>
      </td>
    </tr>
    <tr>
      <td>
        <% if ((@crop !="true") && !@broker.image_url.to_s.empty?) %>
        <button type="button" class="btn btn-default btn-change" style="width:150px;">
          Change Photo
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
        <%else%>
          <%if @broker.image_status=="processing"%>
            Processing...
          <%else%>
            <button type="button" class="btn btn-default btn-upload" style="width:150px;">
              Upload Photo
              <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            </button>     
          <%end%>
        <%end%>
      </td>
    </tr>
  </table>

<%if !@broker.image_url.to_s.empty?%>
  <%=render "brokers/change_dialog_form"%>
<%else%>
  <%unless @broker.image_status=="processing"%>
    <%=render "brokers/upload_dialog_form"%>
  <%end%>
<%end%>

