<div id="upload_dialog-form" title="Upload Your Profile Picture">
  <%= direct_upload_form_for @uploader,:html => {class:"broker_picture_form"} do |f| %>
  <div style="float:left; width=50%;">
    <h4>Your Picture</h4>  
    <%=smart_image(@broker,3)%>
  </div>     
  <div style="clear:both;"></div>
  <div style="float:left; width=50%;">
    <table width="100%">
      <tr class="blank_row"></tr>
      <tr>
        <td width="100%"><%=f.file_field :image, class: "form-control", style:"width:250px;"%></td>
      </tr>
      <tr class="blank_row"></tr>
      <tr>
        <td style="text-align:left;"><%=f.submit "Post Picture", class: "btn btn-primary btn-lg"%></td>
      </tr>
    </table>
  </div>
  <%end%> 
</div>