<%provide(:title,"|Edit Broker")%>

<div style="width:700px;">
  <%= render 'brokers/edit/menu_top'%>
  <%if @validate_email_error%>
  <%@broker.addition_error_msg=" when sending validation code."%>
  <%end%>
  <div style="width:70%;padding-top:10px;">
    <%=render partial:"shared/error_message", locals:{object:@broker}%>
  </div>
  <%=render "brokers/edit/#{@page}"%>

</div>