<%provide :title, "|Broker Initial Confirmation"%>
<h3>Confirmation</h3>
<div align="left">
  <p>Dear, <%=@broker.first_name.capitalize%></p>
Thank you for registering. Please give us a couple of days to process through the forms. You will be notified through your email or you can access this page to check your status.

<p> Your confirmation number is <%=@confirmation_number%>.</p>
<p> You can use this <%=link_to "site", new_status_session_url%> to look up your status. </p>
<p> A copy of this confirmation page is sent to your email.</p>
  <%=button_to "Close this page",close_finish_url,{method: :get,:class=>"btn btn-success"}%>
</div>