<% provide(:title,'|All Brokers')%>
<div style="width:30%;float:left;">
</div>
<div style="width:70%;float:right;">
  <h1>All Brokers</h1>
  <div id="brokers">
    <%=render 'brokers'%>
  </div>
</div>
<%=render "search_form"%>