<% provide(:title,'|All Brokers')%>

<h1>All Financial Representatives</h1>

<div style="width:100%; text-align:center;">   
  <div id="brokers">  
    <%=render 'brokers'%>
  </div>
</div>
<%=render "search_form"%>

