<% content_for :title do %>|Broker Profile<%end%>
<% if broker_personal_profile?(@broker)%>
<div id="personal_profile">
  <%=render "personal_profile"%>
</div>
<%else%>
<%=render "public_profile"%>
<%end%>
