<h1> Yodlee API</h1>
<table width="50%" style="text-align:center;">
  <tr>
    <td>Time</td>
    <td>Code</td>
    <td>EndPoint</td>
    <td>Action</td>
  </tr>
<% @logs.each do |l| %>
  <tr>
    <td><%=l.created_at%></td>
    <td><%=l.response_code%></td>
    <td><%=l.endpoint%></td>
    <td><%=button_to 'Detail',log_url(l),:method=>'get'%></td>
  </tr>
<%end%>
</table>
