<h1>Financial Vehicle in Budgeting Category</h1>
<%=link_to "Back to index", products_path%>
<b>Primary Products:</b>
<%=render "products"%>
<b>Secondary Products:</b>
<%=render "secondary_products"%>