<div style="width:30%;">
  <ol>
  <%@sec_products_cat.each do |rel|%>
    <%product=Product.find(rel.product_id)%>
    <li><%=link_to "#{product.name}",product_url(product)%></li>
  <%end%>
  </ol>
</div>