<% if @setup_broker.errors.any? %>

    <div class="alert alert-danger error-message">
      <h2>The form contains <%= pluralize(@setup_broker.errors.count, "error") %></h2>
      <ul>
      <% @setup_broker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>