<%=render "error"%>

<%=render @broker.current_field%>
<div class="alert alert-info" style="text-align:left;">
  <p>This is your application. After you submit your application, we will review your licenses attachments. You are free to login and use the website after submission but until we approve your application, your profile, financial stories won't be shown to the public.    </p>
</div>