
<ul class="navbar-nav nav pull-right">
  <li class="dropdown" style="font-size:1.5em;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Non-Financial Reps <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Login', user_login_path %></li>
      <li><%= link_to 'Sign Up', signup_path %></li>
    </ul>
  </li>
  <li class="dropdown" style="font-size:1.5em;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Financial Reps <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Login", broker_login_path %></li>
      <li><%= link_to "Sign Up", broker_signup_path %></li>
    </ul>
  </li>
</ul>
 