<div class="navbar-inner">
	<div class="container">			
  		 <nav>
  			<ul class="navbar-nav nav pull-left">
  		 		<li class="navbar-text"><span class="logo">WebFinance</span></li>
  		 	</ul>
  		 	<ul class="navbar-nav nav pull-right">

         </ul>
         </nav>
     </div>
</div>    