<a href="#" class="dropdown-toggle" data-toggle="dropdown">

  <span class="badge">0</span> Message <b class="caret"></b>
  <ul class="dropdown-menu dropdown-menu-message">
    <li style="padding:20px;border-bottom: 1px ridge;"><a>New Message</a></li>
    <li style="padding:20px;border-bottom: 1px ridge;"><a>New Message</a></li>
  </ul>
</a>  