<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <%@activities=user_message_activities(current_user)%>
  <span class="badge"><%=@activities.count%></span> Message <b class="caret"></b>
  <ul class="dropdown-menu dropdown-menu-notification">
    <li><%=link_to "Inbox", private_messages_url%></li>
    <%@activities.each do |activity|%>
    
    <li style="padding:20px;border-bottom: 1px ridge;"><%=ActivityPresenter.new(activity,self).render_activity%></li>

    <%end%>
  </ul>
</a>  